.node-product-type{
	.prod-img-popup{
		background-color: #fff;
		// position: relative;
		// display: inline-block;
		width: 400px;
		height: 400px;
		float: left;
		// overflow: hidden;
		border: 1px solid #f0f0f0;
		@include mq(slg){width:325px;height:325px}
		@include mq(sm){width:300px;height:300px}
		@include mq(xs){
			width: 380px;
			height: 380px;
			float: none;
			margin: 0 auto;
			display: block;
		}
		@include mq(xxs){width:100%}
		a{
		    background-repeat: no-repeat;
		    background-position: center center;
		    background-size: contain;
		    background-color: #fff;
		    display: block;
		    width: 400px;
		    height: 400px;		    
			@include mq(slg){width:325px;height:325px}
			@include mq(sm){width:300px;height:300px}
			@include mq(xs){width:380px;height:380px}
		}	
	    &:hover .owl-buttons{div{visibility:visible;opacity:1}}
	    &:hover .owl-prev{left:-10px}
	    &:hover .owl-next{right:-10px}
	}
	.summary{
		display: inline-block;
		width: 445px;
		float: right;
		@include mq(slg){width:365px}
		@include mq(sm){width:300px}
		@include mq(xs){width:100%;margin-top:25px}
		.title{
		    font-family: "Roboto",sans-serif;
		    font-size: 30px;
		    font-weight: 300;
		    line-height: 32px;
		    color: #151515;
		    @include mq(slg){font-size:26px;line-height:30px}
		}
		.kodas{
			font-size: 16px;
			span{color:#b1b1b1;margin-right:5px}
		}
		.price{
		    color: #81cfdc;
		    font-size: 30px;
		    margin: 10px 0 20px;
		}
		.org-price{
		    color: #b1b1b1;
		    font-size: 20px;
		    display: inline-block;
		    float: left;
		    margin-right: 10px;
		    line-height: 1;
		    margin-top: 8px;
		}
	}
	#tabs{
		display: inline-block;
		width: 100%;
		margin: 50px 0;
		margin-bottom: 30px;
		border-radius: 0;
		border: 0;
	}
	.tab{
		border: 1px solid #e1e1e1;
		border-radius: 0;
		a{
		    height: 60px;
		    line-height: 60px;
		    padding: 0 20px!important;
		    font-size: 18px;
		    color: #151515;
		}
	}
	.tabs-tabs{
		border-radius:0;
		border: 0;
		background: none;
		padding: 0;
	}
	.tab-cont{
		border: 1px solid #e1e1e1;
	}
	.add-to-cart{
	    display: inline-block;
	    width: 255px;
	    margin: 25px 0;
		i{display:none}
		label{display:none}
		.form-item-quantity{float:left}
		.ui-spinner-buttons{left:-17px!important;top:-4px!important}
		#edit-quantity{
			width: 85px;
			background: #fff;
			text-align: left!important;
			padding-left: 15px;
			height: 20px;
		}
		#edit-submit{
	        width: 135px;
		    float: right;
		    background: #81cfdc;
		    border-radius: 4px;
		    color: #fff;
		    font-size: 15px;
		    &:hover{color:#81cfdc;background:#fff}
		}
	}
}