@import 'base/reset';
@import 'base/mixings';

@import 'partials/header';
@import 'partials/sidebar';
@import 'partials/carousele';
@import 'partials/footer';

@import 'shop/product';
@import 'shop/cart';

@import 'dropdown';
@import 'user';

.krumo-footnote img{
    width: auto!important;
    height: auto!important;
}

body{
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-family: ubuntu;
    font-size: 16px;
}

strong {
  font-weight: bold;
}

a{
	text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
img{
    width: 100%;
    height: auto;
}
input.form-text{
    background-color: #ebebeb;
    border: 1px solid #e1e1e1;
    width: calc(100% - 18px);
    padding: 8px;
    font-size: 15px;
    color: #6a6a6a;
    font-size: 15px;
    text-align: center;
}
textarea{
    background-color: #ebebeb;
    border: 1px solid #e1e1e1;
    width: calc(100% - 18px);
    padding: 8px;
    font-size: 15px;
    color: #6a6a6a;
    font-size: 15px;
}
select.form-select{
    background-color: #ebebeb;
    color: #6a6a6a;
    border: 1px solid #e1e1e1;
    height: 35px;
    width: 125px;
}
input.form-submit, .button{
    width: auto;
    display: inline-block;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #81cfdc;
    padding: 0 20px;
    height: 38px;
    font-size: 15px;
    color: #6a6a6a;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    &:hover{background-color:#81cfdc;color:#fff}
}
.form-item{
    margin-bottom: 15px;
    label{font-size:18px}
    .description{font-size:13px}
}
legend{
    font-family: "Roboto",sans-serif;
    font-size: 30px;
    color: #484747;
    font-weight: 200;
    margin: 0 0 20px 0;
    @include mq(xs){margin-top:15px}
}
.grippie{display:none!important}

.field-type-commerce-product-reference{.field-label{display:none}}

.container{
	//background-color: #ddd;
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	@include mq(slg){max-width:980px}
	@include mq(md){max-width:750px}
	@include mq(sm){max-width:620px}
	@include mq(xs){max-width:460px}
	@include mq(xxs){max-width:340px}
}
#main{
	display:inline-block;
	width:100%;
	#content{
        display: inline-block;
	    width: 72.5%;
	    float: right;
        margin: 30px 0;
        @include mq(md){width:100%}
        @include mq(xs){margin:10px 0}
        .content{
            font-size: 18px;
            line-height: 28px;
            color: #6a6a6a;
            p{margin-bottom:15px}
            em{font-style:italic}
            strong{font-weight:bold}
            u{text-decoration:underline}
        }
	}
}
.content{       
    table{
        border: 1px solid rgb(225, 225, 225);
        @include mq(xs){line-height:20px}
        img{width:auto}
    }
    th{
        color: rgb(72, 71, 71);
        font-size: 18px;
        font-family: "Open Sans",sans-serif;
        font-weight: lighter;
        padding: 9px 12px;
        text-align: center;
        background: rgb(248, 248, 248);
        vertical-align: middle;
        border-right: 1px solid rgb(225, 225, 225);
        @include mq(xs){font-size:16px}
        @include mq(xxs){font-size:12px;padding:5px}
    }
    td{
        position: relative;
        padding: 25px 35px;
        vertical-align: middle;
        border-top: 1px solid rgb(225, 225, 225);
        border-right: 1px solid rgb(225, 225, 225);
        text-align: center;
        @include mq(sm){padding:15px 25px}
        @include mq(sm){padding:10px 15px}
        @include mq(xs){padding:8px 5px;font-size:12px;line-height:16px}
    }
}
#content-top{
	display: inline-block;
	width: 100%;
	padding: 30px 0;
	border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
}
#page-title{
	display: inline-block;
    float: left;
    font-size: 22px;
    font-family: "Open Sans",sans-serif;
    color: #151515;
    font-weight: 300;
}
.taxonomy-title{
    display: inline-block;
    float: left;
    font-size: 22px;
    font-family: "Open Sans",sans-serif;
    color: #151515;
    font-weight: 300;
    width: 100%;
}
.block-title{
    font-family: "Roboto",sans-serif;
    font-size: 30px;
    color: #484747;
    font-weight: 200;
    margin: 0 0 20px 0;
}
#breadcrumbs{
	display: inline-block;
    float: right;
    color: #b1b1b1;
    font-size: 20px;
    @include mq(xs){display:none}
    a{
    	color: #151515;
    	&:hover{color:#81cfdc}
    }
}

.tabs{
    display: inline-block;
    width: 100%;
    a{
        display: inline-block;
        float: left;
        padding: 7px 15px;
        margin-right: 10px;
        margin-top: 5px;
        font-size: 15px;
        border-radius: 4px;
        background: #393E45;
        color:#fff;
        &.active{background:#24282e}
        &:hover{background:#24282e}
    }
}

.flexslider {
  border: none;

  .field-name-field-link {
    
    a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      font-size: 0;
    }
  }
  
  .views-field-title {
    position: absolute;
    bottom: 4%;
    left: 10%;
    font-size: 46px;
    font-weight: bold;
    color: rgba(0, 38, 200, 0.75);
    text-shadow: 0px 1px 0px #ddd;

    @include mq(sm){font-size:36px}
    @include mq(xxs){font-size:24px}
  }

  .views-field-edit-node{
    position: absolute;
    left: 5px;
    bottom: 5px;
  }
}

.page-contact{
    .conts-block{
        display: inline-block;
        width: 40%;
        height: 120px;
        margin-left: 9%;
        @include mq(sm){width:45%;margin-left:4%}
        @include mq(xs){width:48%;margin-left:0}
        @include mq(xxs){width:100%}
        i{
            display: inline-block;
            float: left;
            background-color: #c2d44e;
            border-radius: 6px;
            color: #fff;
            width: 50px;
            height: 50px;
            font-size: 30px;
            line-height: 50px;
            text-align: center;
            margin-right: 15px;
            @include mq(xs){width:40px;height:40px;line-height:40px;font-size:26px;margin-right:10px}
            @include mq(xxs){width:50px;height:50px;line-height:50px;font-size:30px;margin-right:15px}
        }
        .inner{
            display: inline-block;
            max-width: 210px;
            @include mq(xs){max-width:170px}
            p{margin-bottom:0!important}
        }
        h3{
            font-size: 18px;
            color: #151515;
            text-align: left;
            font-family: Ubuntu;
            font-weight: 500;
            font-style: normal;
        }

    }
    #map{width:100%;height:350px}
    .cont-form-wrapper{
        max-width: 770px;
        margin: 0 auto;
        h2{
            text-align: center;
            font-family: "Open Sans",sans-serif;
            font-size: 36px;
            font-weight: 200;
            color: #151515;
            @include mq(xs){margin-bottom:15px}
        }
        // label{display:none}
        // .form-text{
        //     margin-top: 15px;
        // }
        img{margin-top:30px}
    }
}

.naujausias{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    &:last-child{margin-bottom:0}
    .img-wrapper{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: relative;
        background-color: #fff;
        border: 3px solid #f5f5f5;
        border-radius: 2px;
        background-clip: padding-box;
        opacity: .8;
        width: 80px;
        height: 80px;
        float: left;
    }
    .image{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }
    .text{
        display: inline-block;
        float: right;
        max-width: calc(100% - 105px);
        width: 100%;
    }
    .nauj-title {
        margin-top: 5px;
        a{
            font-size: 15px;
            line-height: 18px;
            color: #646565;
            &:hover{color:#81cfdc}
        }
    }
    .price{
        color: #81cfdc;
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
    }
}
.prod-block{
    position: relative;
    display: inline-block;
    background-color: #fff;
    width: 280px;
    height: 375px;
    float: left;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 2px;
    margin-bottom: 30px;
    margin-right: 22px;
    transition: all 0.3s ease;
    @include mq(slg){width:224px;margin-right:15px}
    @include mq(md){width:238px}
    @include mq(sm){width:290px;float:none;vertical-align:top}
    @include mq(xs){margin-right:0}
    &:nth-child(2n) {@include mq(sm){margin-right:0}}
    &:nth-child(3n) {margin-right:0;@include mq(sm){margin-right:15px}@include mq(xs){margin-right:0}}
    &:hover{background-color:#fafafa}
    &:hover .image{}
    &:hover .image{.extra-buttons{
        left:10px;
        i{
            visibility: visible;
            opacity: 0.8;
        }
    }}
    .image{
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: calc(100% - 2px);
        border: 1px solid #fff;
        height:260px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: all 0.9s ease;
    }
    .prod-list-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .extra-buttons{
        display: inline-block;
        width: 30px;
        position: absolute;
        top: 10px;
        left: -45px;
        transition: all 0.3s ease;
        a{color:#fff}
        i{
            visibility: hidden;
            opacity: 0;
            width: 33px;
            height: 33px;
            background: #81cfdc;
            line-height: 35px;
            text-align: center;
            font-size: 18px;
            margin-bottom: 5px;
            transition: all 0.3s ease;
        }
    }
    .atpigo{
        padding: 7px 12px;
        font-size: 14px;
        position: absolute;
        text-transform: uppercase;
        top: 6px;
        right: 6px;
        margin: 0;
        color: #fff;
        background-color: #81cfdc;
    }
    .nauja{
        padding: 7px 12px;
        font-size: 14px;
        position: absolute;
        text-transform: uppercase;
        bottom: 6px;
        right: 6px;
        margin: 0;
        color: #fff;
        background-color: #81cfdc;
    }
    .bottom{
        position: relative;
        padding: 10px 15px 20px 20px;
    }
    .title{
        padding: 7px 0;
        padding-right: 60px;
        line-height: 24px;
        font-family: "Roboto",sans-serif;
        font-weight: 300;
        font-size: 18px;
        @include mq(slg){padding-right:50px;font-size:16px;text-align:left}
        a{color:#151515;&:hover{color:#c2d44e}}
    }
    .add-to-cart{
        position: absolute;
        right: 15px;
        top: 10px;
        background: #81cfdc;
        border: 1px solid #81cfdc;
        border-radius: 50%;
        transition: all 0.3s ease;
        @include mq(slg){right:5px;text-align:left}
        &:hover{background:#fff}
        &:hover i{color:#81cfdc}
        form{position:relative;z-index:1}
        i{
            position: absolute;
            color: #fff;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 45px;
            font-size: 26px;
            z-index: 0;
            transition: all 0.3s ease;
        }
        .form-submit{
            background: transparent;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 0;
            font-size: 0;
        }
    }
    .no-stock{
        position: absolute;
        right: 15px;
        top: 10px;
        width: 47px;
        height: 47px;
        border-radius: 50%;
        background: #ccc;
        border: 1px solid #ccc;
        border-radius: 50%;
        transition: all 0.3s ease;
        &:hover{background:#ccc}
        &:hover i{color:#fff}
        i{
            position: absolute;
            color: #fff;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 45px;
            font-size: 26px;
            z-index: 0;
            transition: all 0.3s ease;
        }
    }
    .org-price{
        display: inline-block;
        float: left;
        font-size: 14px;
        color: #b1b1b1;
        margin-right: 5px;
        line-height: 1;
        margin-top: 10px;
    }
    .price{
        color: #0026c8;
        font-size: 21px;
        display: block;
        margin-right: 60px;
        font-weight: bold;
        letter-spacing: 1px;
        @include mq(slg){margin-right:0;text-align:left}
    }
    .ajax-progress-throbber {display: none!important}
}
.page-product-category{
    .view-collection-products{.view-content{@include mq(sm){text-align:center}}}
}

.prist-info{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    text-transform: uppercase;  
    i{
        display: inline-block;
        font-size: 50px;
        vertical-align: middle;
        margin-right: 15px;
        float: left;
        @include mq(xs){font-size:40px;margin-right:10px}
    }
    .section{display:inline-block;width:300px;
        @include mq(xs){width:225px}
        @include mq(xxs){margin-bottom:20px}
    }
    .title{font-weight:bold;letter-spacing:2px}
    .text{font-size:14px;color:#313131;line-height:14px}
}
.musu-sert{
    a{
        position: relative;
        display: inline-block;
        width: 24%;
        height: 175px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        &:hover .cert-title{background:rgba(194, 212, 78, 0.85);color:#6a6a6a}
    }
    h2{
        font-size: 22px;
        font-family: "Open Sans",sans-serif;
        color: #151515;
        font-weight: 300;
        margin: 25px 0;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
    .cert-title{
        width: 100%;
        text-align: center;
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.5);
        color: #fff;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
}
.grazinimai{
    position: relative;
    
    .info-text{
      position: absolute;
      top: 80px;
      right: 25px;
      width: 320px;
      font-size: 24px;
      line-height: 36px;

      h3 {
        color: #151515;
        font-size: 18px;
      }

      @include mq(slg){top:100px;right:0px;width:290px}
      @include mq(xs){
        position: static;
        margin-top: 50px;
        margin-bottom: 25px;
      }
    }
    .form-item{
        &.webform-component--vardas{width:50%;@include mq(xs){width:100%}}
        &.webform-component--pavarde{width:50%;@include mq(xs){width:100%}}
        &.webform-component--email{width:50%;@include mq(xs){width:100%}}
        &.webform-component--telefonas{width:50%;@include mq(xs){width:100%}}
        &.webform-component--uzsakymo-id{width:50%;@include mq(xs){width:100%}}
    }
    .form-submit{margin-top:15px}
}
ul.pager{
    display: inline-block;
    width: 100%;
    text-align: right;
    li{
        display: inline-block;
        &.first{display:none}
        &.last{display:none}
        &.pager-current{
            background: #fafafa;   
            font-size: 13px;
            line-height: 18px;
            margin-right: 1px;
            display: inline-block;
            padding: 9px 15px;
            border: 1px solid #e1e1e1;
        }
    }
    a{
        background: #fff;
        font-size: 13px;
        line-height: 18px;
        margin-right: 1px;
        display: inline-block;
        padding: 9px 15px;
        border: 1px solid #e1e1e1;
        color: #656565;
        &:hover{background:#81cfdc;color:#fff}
    }
}
.filters{
    display: inline-block;
    float: left;
    margin-top: 15px;
    .filters-label{
        display: inline-block;
        float: left;
        color: #656565;
        font-size: 14px;
        margin-right: 10px;
    }
    .btn{
        display: inline-block;
        padding: 8px 20px;
        text-transform: uppercase;
        background: #f5f5f5;
        line-height: 14px;
        color: #898e91;
        border: 1px solid #e1e1e1;
        background-clip: padding-box;
        font-size: 14px;
        margin: 0;
        margin-right: 5px;
        cursor: pointer;
    }
}
.active-filters{
    display: inline-block;
    float: right;
    margin-top: 15px;
    li{        
        display: inline-block;
        padding: 8px 20px;
        text-transform: uppercase;
        background: #f5f5f5;
        line-height: 14px;
        color: #898e91;
        border: 1px solid #e1e1e1;
        background-clip: padding-box;
        font-size: 14px;
        margin: 0;
        cursor: default;
        a{
            color: #313131;
            letter-spacing: 4px;
            margin-right: -8px;
            font-weight: bold;
        }
    }
}
