// @font-face {
//   font-family: maison-med;
//   src: url("fonts/MaisonNeueWEB-Medium.woff") format("opentype");
// }

/*media quries mixin*/
@mixin mq($breakpoint) {
  $mq-xxs: "(max-width: 480px)";
  $mq-xs: "(max-width: 640px)";
  $mq-sm: "(max-width: 767px)";
  $mq-md: "(max-width: 999px)";
  $mq-slg: "(max-width: 1249px)";
  $mq-lg: "(min-width: 1250px)";

  @if $breakpoint == xxs {
    @media #{$mq-xxs} { @content; }
  }
  @else if $breakpoint == xs {
    @media #{$mq-xs} { @content; }
  }
  @else if $breakpoint == sm {
    @media #{$mq-sm} { @content; }
  }
  @else if $breakpoint == md {
    @media #{$mq-md}  { @content; }
  }
  @else if $breakpoint == slg {
    @media #{$mq-slg}  { @content; }
  }
  @else if $breakpoint == lg {
    @media #{$mq-lg}  { @content; }
  }
}