#sidebar-first{
	display: inline-block;
    width: 25%;
    float: left;
    color: #b1b1b1;
    @include mq(md){width:100%}
    h2{
	    font-family: "Roboto",sans-serif;
	    font-size: 22px;
	    color: #151515;
	    font-weight: 300;
	    margin-bottom:15px;
    }
    .block{
        padding: 20px 25px;
        border: 1px solid #f0f0f0;
        border-radius: 2px;
        margin: 30px 0 30px 0;
        overflow: auto;
    }
    li{
        border-bottom: 1px solid #f0f0f0;
        padding: 10px 0;
        @include mq(slg){line-height:18px}
        @include mq(md){width:45%;float:left;margin-right:5%}
        @include mq(xs){width:100%;line-height:30px}
        a{color:#313131;
            &.active {color:#0026c8}
            &:hover {color:#0026c8}
        }
        li{
            border-bottom: 0;
            padding: 0;
            padding-top: 15px;
            font-size: 15px;
            letter-spacing: -0.25px;
            @include mq(md){width:100%;margin-right:0}
            a{color:#646565}
        }
    }
}
.main-kat-link-wrap{
    i{
        float: right;
        font-size: 12px;
        vertical-align: middle;
        margin-top: 3px;
        color: #0026c8;
        cursor: pointer;
        transition: all 0.3s ease;
        transform: rotate(0deg);
    }
}
.clicked .main-kat-link-wrap{
    i{
        transition: all 0.3s ease;
        transform: rotate(90deg);
    }
}

#block-menu-menu-kategorijos{
    li.expanded{
        .side-menu{
            max-height: 0;
            overflow: hidden;
            padding-left: 10px;
        }
    }
}
#block-menu-menu-kategorijos .actv-parent .side-menu{
    max-height: 250px!important;
}
#block-menu-menu-kategorijos .actv-parent i{
    transform: rotate(90deg)!important;
}